.centeredtext {
    text-align: left;
    border: none;
    width: 95%;
    height: 95%;
    list-style-position: inside;
    font-size: 130%
}

.slidecontainer1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 375px;
}

.slidecontainer2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 415px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
}

.default_button {
    height: 60px;
    width: 250px;
    font-size: 100%;
}

.respond_mem {
    position: absolute;
    top: 500px;
    left: 20%;
    height: 80px;
    font-size: 115%
}

.response_button {
    position: absolute;
    top: 500px;
    left: 46%;
    width: 250px;
    height: 80px;
    font-size: 115%;
}

.cr_button {
    position: absolute;
    top: 500px;
    left: 46%;
    width: 150px;
    height: 30px;
}

.present_bandit_0 {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: #ffffff00;
    padding: 1em;
}

.present_bandit_1 {
    position: absolute;
    top: 5%;
    right: 30%;
    width: 100px;
    height: 100px;
    align-self: center;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: #ff260000;
    padding: 1em;
}

.present_slotmachine_0_instruction {
    position: absolute;
    top: 35%;
    left: 28%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_1_instruction {
    position: absolute;
    top: 35%;
    right: 32%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_0 {
    position: absolute;
    top: 25%;
    left: 28%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_1 {
    position: absolute;
    top: 25%;
    right: 32%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.cat_feedback_neg {
    position: absolute;
    top: 450px;
    left: 41.5%;
    width: 300px;
}

.cat_feedback_pos {
    position: absolute;
    top: 450px;
    left: 41.5%;
    width: 300px;
}