.centeredtext {
    text-align: left;
    border: none;
    width: 95%;
    height: 95%;
    list-style-position: inside;
    font-size: 130%
}

.default_button {
    height: 50px;
    width: 200px;
    font-size: 90%;
}

.respond_mem {
    position: absolute;
    top: 500px;
    left: 20%;
    height: 80px;
    font-size: 115%
}

.response_button {
    position: absolute;
    top: 500px;
    left: 46%;
    width: 200px;
    height: 65px;
    font-size: 100%;
}

.cr_button {
    position: absolute;
    top: 500px;
    left: 46%;
    width: 150px;
    height: 30px;
}

.present_bandit_0 {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: #ffffff00;
    padding: 1em;
}

.present_bandit_1 {
    position: absolute;
    top: 5%;
    right: 30%;
    width: 100px;
    height: 100px;
    align-self: center;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: #ff260000;
    padding: 1em;
}

.present_slotmachine_0_instruction {
    position: absolute;
    top: 35%;
    left: 28%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_1_instruction {
    position: absolute;
    top: 35%;
    right: 32%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_0 {
    position: absolute;
    top: 25%;
    left: 28%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.present_slotmachine_1 {
    position: absolute;
    top: 25%;
    right: 32%;
    width: 100px;
    height: 100px;
    text-align: center;
    align-self: center;
    padding: 1em
}

.cat_feedback_neg {
    position: absolute;
    top: 450px;
    left: 41.5%;
    width: 300px;
}

.cat_feedback_pos {
    position: absolute;
    top: 450px;
    left: 41.5%;
    width: 300px;
}